:root {
  --main-bg-color: #f0f0f0;  /* Default background color */
  --strip-bg-color: #f8f8f8;
  --strip-text-color: #333333;
  --button-bg-color: #dcdcdc;
  --button-hover-color: #b0b0b0;
  --group-hover-color: #ececec;
}

.dark-theme {
  --main-bg-color: #a3a3a3;
  --strip-bg-color: #1a1a1a;
  --strip-text-color: #ffffff;
  --button-bg-color: #333333;
  --button-hover-color: #555555;
  --group-hover-color: #2d2d2d;
}

/* Светлая тема */
.light-theme {
  --main-bg-color: #f0f0f0;
  --strip-bg-color: #f8f8f8;
  --strip-text-color: #333333;
  --button-bg-color: #dcdcdc;
  --button-hover-color: #b0b0b0;
  --group-hover-color: #ececec;
}

* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

body {
  background-color: var(--main-bg-color);
  color: var(--strip-text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
